.form-max-width {
  width: 512px;
}

.question-form {
  margin-top: calc(100% / 2);
}

#map {
  height: 100%;
  width: 100%;
  position: static !important;
}

.is-hidden {
  display: none !important;
}
