@font-face {
  font-family: 'LatoWebRegular';
  src: url('fonts/Lato-Regular.woff2') format('woff2');
  font-style: normal,
  font-weight: normal,
  text-rendering: optimizeLegibility;
}

body {
  font-family: LatoWebRegular, Arial, sans-serif;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.wrapper {
  position: absolute;
  z-index: 1;
  padding: 20px;
  max-width: 350px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: rgba(255,255,255,1);
  box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
}

.place-search {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.place-search input {
  padding:10px;
  outline:0;
  border:1px solid rgba(0,0,0,0.1);
}

.place-search .supporting-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.snackbar {
  z-index: 1;
  background: #323232;
  position: absolute;
  min-width: 288px;
  max-width: 568px;
  height: 48px;
  color: white;
  text-align: center;
  bottom: 0;
  left: 50%;
  right: 50%;
  display: none;
}

.snackbar p {
  position: relative;
}
